// -------------------------------------
//               LOGIN
// -------------------------------------

// GHM Contenidos


.dashboard
	background: #fff
	padding: 0
	.row
		margin: 0
	.seccion-pass
		padding-top: 20px
