// -------------------------------------
//               VIDEOS
// -------------------------------------

// GHM Contenidos


.dashboard
	.videos
		padding-top: 20px
		.btn-default
			margin-top: 0
			&:active, &:focus
				outline: none
		video
			width: 100%
		form
			padding: 10px
			border: 1px dashed $gris
			margin-top: 30px
			.col-12.col-lg-6
				// float: left
				padding: 5px
			.col-12
				padding: 0
			input[type=text], textarea
				width: 100%
				font-family: $light
				+border-radius(4px)
				border: 1px solid $gris
				padding: 5px
			textarea
				margin-top: 10px
				resize: none
				min-height: 83px