// -------------------------------------
//               LOGIN
// -------------------------------------

// GHM Contenidos


.dashboard
	background: #fff
	padding: 0
	.row
		margin: 0
	.home
		.titulo
			height: 100vh
			text-align: center
			font-size: 150px
			margin-bottom: 0
			line-height: 100vh
			@media (max-width: 870px)
				font-size: 100px