// -------------------------------------
//          NATURALEZA.SASS
// -------------------------------------

// GHM Contenidos

// CONTENIDO:
// Importación de archivos



// --- IMPORTACIÓN DE ARCHIVOS --- //

.diseno
	padding-left: 0px !important
	padding-right: 0px !important
	padding-bottom: 10px !important
	margin: 0px !important
	.row
		margin: 0px !important
		.slide-lp
			padding: 0px !important
	.btn-default
		position: absolute
		margin: 0px !important
		right: 5%
		bottom: 5%
		background-color: #fff
		border-color: #fff
		z-index: 1000 !important
		&:hover, &:active, &:focus
			background-color: $gris
			border-color: $gris !important
	.carousel-control-prev
		justify-content: flex-start !important
		padding-left: 80px
	.carousel-control-next
		justify-content: flex-end !important
		padding-right: 80px
	.carousel-control-prev, .carousel-control-next
		background-color: transparent
		width: 25%
		transition: ease 0.5s all
		&:hover
			.icon-chevron-thin-right, .icon-chevron-thin-left
				color: $grisOscuro
		.icon-chevron-thin-right, .icon-chevron-thin-left
			transition: ease 0.5s all
			color: transparent
			@media (max-width: 991px)
				color: $grisOscuro
		.carousel-control-prev-icon, .carousel-control-next-icon
			background-image: none !important

.row.diseno.d-digital
	padding-bottom: 0px !important
	
.diseno.ultimo
	padding-bottom: 0px !important