// -------------------------------------
//          NATURALEZA.SASS
// -------------------------------------

// GHM Contenidos

// CONTENIDO:
// Importación de archivos



// --- IMPORTACIÓN DE ARCHIVOS --- //

.diseno
	padding-left: 0px !important
	padding-right: 0px !important
	padding-bottom: 10px !important
	margin: 0px !important
	.row
		margin: 0px !important
		.slide-lp
			padding: 0px !important
	.btn-default
		position: absolute
		margin: 0px !important
		right: 5%
		bottom: 5%
		background-color: #fff
		border-color: #fff
		&:hover, &:active, &:focus
			background-color: $gris
			border-color: $gris !important
	.carousel-control-prev, .carousel-control-next
		background-color: rgba(0,0,0,0)
		width: 80px
		transition: ease 0.5s all
		&:hover
			background-color: rgba(0,0,0,0.2)
			@media (max-width: 991px)
				background-color: rgba(0,0,0,0)
			.icon-chevron-thin-right, .icon-chevron-thin-left
				color: white
		.icon-chevron-thin-right, .icon-chevron-thin-left
			color: transparent
			@media (max-width: 991px)
				color: $grisOscuro
		.carousel-control-prev-icon, .carousel-control-next-icon
			background-image: none !important

.row.diseno.d-digital
	padding-bottom: 0px !important
	
.diseno.ultimo
	padding-bottom: 0px !important