// -------------------------------------
//            TIPOGRAFIAS
// -------------------------------------

// CONTENIDO:
// Tipografias
// Iconos vectoriales
// Tamaños fuentes
// Estilos básicos para los textos



// --- TIPOGRAFIAS --- //

$light: "Light"
$regular: "Regular"
$medium: "Mediun"
$icomoon: "Icomoon"

@font-face
	font-family: "Light"
	src: url("../fonts/Roboto-Light.ttf")

@font-face
	font-family: "Regular"
	src: url("../fonts/Roboto-Regular.ttf")

@font-face
	font-family: "Mediun"
	src: url("../fonts/Roboto-Medium.ttf")



// --- ICONOS VECTORIALES --- //

@font-face 
	font-family: 'Icomoon'
	src:  url('../fonts/icomoon.eot?vofcvj')
	src:  url('../fonts/icomoon.eot?vofcvj#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vofcvj') format('truetype'), url('../fonts/icomoon.woff?vofcvj') format('woff'), url('../fonts/icomoon.svg?vofcvj#icomoon') format('svg')
	font-weight: normal
	font-style: normal

[class^="icon-"], [class*=" icon-"] 
	font-family: 'icomoon' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	vertical-align: middle
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-logo:before
	content: "\e900"
	color: #595757

.icon-youtube:before
	content: "\e901"

.icon-chevron-thin-right:before
	content: "\e902"

.icon-chevron-thin-left:before
	content: "\e902"
.icon-chevron-thin-left
	transform: rotateY(180deg)

.icon-mouse:before
	content: "\e903"

.icon-phone:before
	content: "\e904"

.icon-logoHuevo:before
	content: "\e905"
	// color: #fff !important

.icon-facebook:before
	content: "\e906"

.icon-instagram:before
	content: "\e907"




// --- TAMAÑO DE FUENTES --- //

$FFmenu: 12px
$FStexto: 16px
$FStitulo: 38px



// --- ESTILOS BÁSICOS DE LOS TEXTOS --- //

.titulo
	color: $grisOscuro
	font-family: $medium
	font-size: $FStitulo
	margin-bottom: 30px
.texto
	color: $grisOscuro
	font-family: $light 
	font-size: $FStexto
	margin-bottom: 0
	padding: 0 30px
	@media (max-width: 767px)
		padding: 0px !important