// -------------------------------------
//                FOOTER
// -------------------------------------

// CONTENIDO:
// 



footer
	background-color: $grisOscuro
	padding: 75px 0
	margin-top: 0 !important

.lista-footer
	margin-bottom: 30px !important
	padding: 0
	list-style-type: none !important
.lista-footer.redes
	margin-top: 10px
	a
		font-size: 24px
		color: #fff
		padding: 0 2px
		&:hover
			color: $gris
			text-decoration: none !important

.titulo-footer
	font-family: $medium
	color: #fff
	cursor: default
	display: block
	margin-bottom: 8px
	position: relative
	&:hover
		color: #fff
		text-decoration: none
		cursor: default
	@media (max-width: 991px)
		margin-bottom: 0px
		padding: 10px 0 10px 5px
	.closeNav
		display: inline-block
		right: 5px
		top: 8px
		position: absolute
		font-size: 18px
		+transform-origin(center center)
		+transition(.25s ease-in-out)
	.closeNav.open
		+transform(rotate(45deg))

.titulo-footer.border-top
	border:none
	@media (max-width: 991px)
		border-top: 1px solid #fff
div.class-aux.border-top
	border:none
	@media (max-width: 991px)
		border-top: 1px solid #fff
		height: 1px

li.item-footer
	font-family: $light
	font-size: $FStexto
	color: #fff
	@media (max-width: 991px)
		padding-left: 8px

a.item-footer
	text-decoration: none
	font-family: $light
	font-size: $FStexto
	color: #fff
	margin: 2px 0
	&:hover
		color: $gris
		text-decoration: none
	@media (max-width: 991px)
		padding-left: 8px

footer
	.logoHuevo-container
		@media (max-width: 991px)
			margin-top: 75px
	.logoHuevo
		&:hover
			text-decoration: none !important
		
.icon-logoHuevo
	font-size: 42px


.class-aux
	padding-left: 55px !important
	padding-right: 55px !important
	@media (max-width: 991px)
		padding-left: 30px !important
		padding-right: 30px !important