// -------------------------------------
//              MONITOREO
// -------------------------------------

// GHM Contenidos


.monitoreo
	padding: 0 !important
	.row
		maring-left: 0 !important
		margin-right: 0 !important
	.col-12
		padding: 0 0 10px 0
	.col-12.ultimo
		padding-bottom: 0 !important