// -------------------------------------
//            TIPOGRAFIAS
// -------------------------------------

// CONTENIDO:
// Tipografias
// Tamaños fuentes
// Estilos básicos para los textos



// --- TIPOGRAFIAS --- //

$regular: "Regular"



@font-face
	font-family: "Regular"
	src: url("../fonts/Roboto-Regular.ttf")



// --- TAMAÑO DE FUENTES -- //

$FFmenu: 12px



// --- ESTILOS BÁSICOS PARA LOS TEXTOS --- //