// -------------------------------------
//             INDEX.SASS
// -------------------------------------

// GHM Contenidos

// CONTENIDO:
// Importación de archivos
// Slide



// --- IMPORTACIÓN DE ARCHIVOS --- //

@import _fonts
@import _mixins
@import _colores
@import _nav



// --- SLIDE --- //

.slide-lp
	padding: 0 !important
.carousel-item
	img
		width: 100%
	h4, p
		font-family: $regular